.section {
    margin: 10px;
}


.section__firstHeader {
    border: 1px solid rgba(200, 198, 198, 0.694);
    margin: 0;
    padding: 20px;
}

.section__span {
    margin-left: 20px;
}

.section__secondHeader {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(200, 198, 198, 0.694);
    margin: 0;
}

@media (max-width: 767px) {
    .section__firstHeader {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .section__secondHeader {
        grid-template-columns: 1fr;
    }
}


.section__div {
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(200, 198, 198, 0.694);
}

.section__form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;
    padding: 10px;
}

.section__formInput {
    padding: 10px;
    border: 1px solid rgba(200, 198, 198, 0.694);
}

.section__formButton {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
}

@media (max-width: 767px) {
    .section__form {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .section__formInput {
        flex-basis: 100%;
    }
}

@media (max-width: 767px) {
    .section__formButton {
        flex-basis: 100%;
    }
}

.section__formButton:hover {
    transition: 0.3s;
    transform: scale(120%);
}

.section__formButton:active {
    background-color: rgba(0, 128, 128, 0.743);
    color: white;
    padding: 10px;
}

.section__list {
    padding: 0;
    margin: 0;
}