.list__list {
    padding: 0;
    margin: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    font-size: 17px;
    list-style-type: none;
    border-bottom: 1px solid rgba(200, 198, 198, 0.694);
    padding: 5px
}


.list__item--done {
    text-decoration: line-through;
}

.list__item--hidden {
    display: none;
}

.list__item--doneButton {
    color: white;
    border: none;
    background-color: hsl(120, 100%, 25%);
    height: 35px;
    width: 35px;
    margin: 5px;
}


.list__item--doneButton:hover {
    background-color: hsl(120, 100%, 30%);
    transition: 0.3s;
}

.list__item--doneButton:active {
    background-color: hsl(120, 100%, 35%);

}


.list__item--removeButton {
    border: none;
    background-color: hsl(0, 100%, 50%);
    padding: 5px;
}

.list__item--removeButton:hover {
    background-color: hsl(0, 100%, 55%);
    transition: 0.3s;
}

.list__item--removeButton:active {
    background-color: hsl(0, 100%, 60%);
}
